.container-wrapper {
    display: flex;
    cursor: pointer;
}

.data-container {
    margin-left: 100px;
}

.form {
    display: none;
    flex-direction: column;
    width: 200px;
}

.modal, .modalForm {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    position: fixed;
    left: 30%;
    top: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    background-color: white;
}

.modalButton, .closeButtonCancel, .saveButton {
    background: dodgerblue;
    color: white;
    padding: 2px 20px;
    border-radius: 10%;
    border: 0;
    cursor: pointer;
    margin-top: 15px;
}

.add {
    width: 30px;
    background: dodgerblue;
    color: white;
    padding: 2px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
    cursor: pointer;
}
.red {
    color: red;
    font-weight: bold;
}

